@model ProjectUniversity.Service.Entity.ProfessorDisciplina

@{
    ViewBag.Title = "Detalhes Grade";
}

<h2>Detalhes Grade</h2>

@if (TempData["Success"] != null)
{
    <p class="alert alert-success">@TempData["Success"]</p>
}

@if (TempData["Error"] != null)
{
    <p class="alert alert-danger">@TempData["Error"]</p>
}

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProfessorId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Professor.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DisciplinaId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Disciplina.Nome) - @Html.DisplayFor(model => model.Disciplina.Periodo)
        </dd>
    </dl>
</div>

<div class="btn-group btn-group-toggle">
    <label class="btn btn-secondary">
        @Html.ActionLink(" Voltar", "Index", new { area = "" },
            new { title = "Voltar", @class = "fa fa-arrow-left text-decoration-none text-white" })
    </label>
    <label class="btn btn-info">
        @Html.ActionLink(" Editar", "Edit", new { professorId = Model.ProfessorId, disciplinaId = Model.DisciplinaId },
            new { title = "Voltar", @class = "fa fa-edit text-decoration-none text-white" })
    </label>
</div>
