<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Project University</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        @Html.ActionLink("Project University", "Index", "ProfessorDisciplina", new { area = "" }, new { @class = "navbar-brand" })
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li id="professor" class="nav-item">
                    @Html.ActionLink("Professores", "Index", "Professor", new { area = "" }, new { @class = "nav-link" })
                </li>
                <li id="disciplina" class="nav-item">
                    @Html.ActionLink("Disciplinas", "Index", "Disciplina", new { area = "" }, new { @class = "nav-link" })
                </li>
            </ul>
        </div>
    </nav>

    <div class="container body-content">
        <br />
        @RenderBody()
    </div>

    <footer class="card-footer fixed-bottom">
        <div class="container">
            <span class="text-muted">&copy; @DateTime.Now.Year - Luiz Anthero Costa</span>
        </div>
    </footer>

    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <script>
        var pathname = window.location.pathname;

        if (pathname === '/Professor') {
            $('#professor').addClass('active');
        }

        if (pathname === '/Disciplina') {
            $('#disciplina').addClass('active');
        }
    </script>
</body>
</html>