@model ProjectUniversity.Service.Entity.Disciplina

@{
    ViewBag.Title = "Detalhes Disciplina";
}

<h2>Detalhes Disciplina</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Periodo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Periodo)
        </dd>

    </dl>
</div>

<div class="btn-group btn-group-toggle">
    <label class="btn btn-secondary">
        @Html.ActionLink(" Voltar", "Index", new { area = "" },
            new { title = "Voltar", @class = "fa fa-arrow-left text-decoration-none text-white" })
    </label>
    <label class="btn btn-info">
        @Html.ActionLink(" Editar", "Edit", new { id = Model.Id },
            new { title = "Voltar", @class = "fa fa-edit text-decoration-none text-white" })
    </label>
</div>
