@model ProjectUniversity.Service.Entity.Professor

@{
    ViewBag.Title = "Criar Professor";
}

<h2>Criar Professor</h2>

@if (TempData["Success"] != null)
{
    <p class="alert alert-success">@TempData["Success"]</p>
}

@if (TempData["Error"] != null)
{
    <p class="alert alert-danger">@TempData["Error"]</p>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="row">
            <div class="col">
                <div class="form-group">
                    @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="form-group">
                    @Html.LabelFor(model => model.Sobrenome, htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Sobrenome, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Sobrenome, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <div class="btn-group btn-group-toggle">
            <label class="btn btn-secondary">
                @Html.ActionLink(" Voltar", "Index", new { area = "" },
                    new { title = "Voltar", @class = "fa fa-arrow-left text-decoration-none text-white" })
            </label>
            <button type="submit" title="criar" class="btn btn-info fa fa-save"> Criar</button>
        </div>
    </div>
}

<script src="~/Scripts/jquery-3.0.0.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
