@model ProjectUniversity.Service.Entity.Professor

@{
    ViewBag.Title = "Detalhes Professor";
}

<h2>Detalhes Professor</h2>

@if (TempData["Success"] != null)
{
    <p class="alert alert-success">@TempData["Success"]</p>
}

@if (TempData["Error"] != null)
{
    <p class="alert alert-danger">@TempData["Error"]</p>
}

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sobrenome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sobrenome)
        </dd>

    </dl>
</div>

<div class="btn-group btn-group-toggle">
    <label class="btn btn-secondary">
        @Html.ActionLink(" Voltar", "Index", new { area = "" },
            new { title = "Voltar", @class = "fa fa-arrow-left text-decoration-none text-white" })
    </label>
    <label class="btn btn-info">
        @Html.ActionLink(" Editar", "Edit", new { id = Model.Id },
            new { title = "Voltar", @class = "fa fa-edit text-decoration-none text-white" })
    </label>
</div>
